


<div class="grid-superior">
    <% for(let i = 0; i < product.length; i++) { %>
        <a href="/modelo/<%= product[i].dataValues.id_articulo %>">
            <div class="card">
                <!-- Imagen -->
                <img src="/img/zanellat.jpg" 
                     alt="<%= product[i].dataValues.modelo %>" 
                     class="card-img">
                
                <!-- Texto de la tarjeta -->
                <div class="card-text">
                    <h3><%= product[i].dataValues.modelo %></h3>
                    <p><%= product[i].dataValues.marca %></p>
                    <p><%= product[i].dataValues.origen %></p>
                </div>
            </div>
        </a>
    <% } %>
</div>